<h1>JK Job Portal</h1>
<%= link_to 'Job Listing', controller: 'jobs' %>
<%= link_to 'New Job', new_job_path %>

<h2>Admins</h2>
<%= link_to 'Admin Listing', controller: 'admins' %>
<%= link_to 'New Admin', new_admin_path %>